<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.feedcomment.FeedCommentMapper">
    <insert id="insFeedComment" keyProperty="feedCommentId" useGeneratedKeys="true">
        INSERT INTO feed_comment
        (comment, feed_id, user_id)
        VALUES
        (#{comment}, #{feedId}, #{userId})
    </insert>

    <delete id="deleteFeedComment">
        DELETE
        FROM feed_comment
        WHERE feed_comment_id=#{feedCommentId} AND user_id=#{signedUserId}
    </delete>

    <select id="getFeedComment">
        SELECT A.feed_comment_id AS feedCommentId, A.comment, A.user_id AS writerId,
        B.pic AS writerPic, B.nm AS writerNm, A.created_at AS createdAt
        FROM feed_comment A
        INNER JOIN user B
        ON A.user_id=B.user_id
        WHERE A.feed_id=#{feed_id}
        ORDER BY A.created_at
        LIMIT 4
    </select>


</mapper>